

*{
  font-family: 'Manrope', sans-serif;
}

body{
  padding-top: 7rem;
  background-image: url(images/pattern-circles.svg), url(images/bg-pattern.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 15%, 0 -7rem;
  background-size: 140px, contain;
  display: grid;
  place-items: center;

}
header{
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

h3{
  font-weight: 800 !important;
  font-size: 28px !important;
  color: hsl(227, 35%, 25%);
}

h4{
  font-weight: 600 !important;
  font-size: 15px !important;
  color: hsl(225, 20%, 60%);
}
.card{
  padding: 1rem 2rem;
}
.card-body{
  margin: auto;
}
.page-views, .fixPrice, h3{
  display:inline-block;
}

.page-views{
  font-size: 12px;
  color: hsl(225, 20%, 60%);
  font-weight: 800;
  letter-spacing: 1.5px;

}

.fixPrice{
  margin-left: 5rem;

}

#duration{
  vertical-align: super;
  font-size: 15px;
  color: hsl(225, 20%, 60%);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  border-radius: 10px;
  appearance: none;
  width: 100%; /* Full-width */
  height: 9px; /* Specified height */
  background: hsl(174, 77%, 80%); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url('images/icon-slider.svg'); 
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url('images/icon-slider.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; /* Cursor on hover */
}

.slider::-webkit-slider-thumb:hover{
  background-color: hsl(174, 77%, 80%);
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.hideText{
  display:none;
}

.my-switch .form-switch {
  margin: 3px 0px 0 15px;
}
